<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Footwear Products</title>
</head>
<body>
<table id="XXIBM_PRODUCT_CATALOGUE" style="width:100%">
    {% if footwears %}
<!--     <tr>
        <th>Available Footwears</th>
    </tr> -->
		{% for row in footwears %}
            <tr>
                <th colspan="3">Footwares</th>
            </tr>
            <tr>
                <th>
                    {% if row[0] == 'Boots' %}
                    <p>BOOTS</p>
                    <img src="{{url_for('static', filename='boots.jpg')}}" width="350" height="230"/> 
                    {% endif %}
                 </th>
                 <th>
                    {% if row[0] == 'Shoes' %}
                    <p>Shoes</p>
                    <img src="{{url_for('static', filename='shoes.jpg')}}" width="350" height="230"/> 
                    {% endif %}
                  </th>
                  <th>
                    {% if row[0] == 'Slippers' %}
                    <p>Slippers</p>
                    <img src="{{url_for('static', filename='slippers.jpg')}}" width="350" height="230"/> 
                    {% endif %}
                  </th>
            </tr>
		{% endfor %}
    {% endif %}
</table>
</body>
</html>