<HTML>
<BODY bgcolor="cyan">
<form method="POST" action="/data">
    <center>
	<!--
    <H1>Enter Discount Range</H1> <br>
    From <input type = "text" name= "fromdisc" /> <br><br>
    To   <input type = "text" name= "todisc" /> <br>
    <input type = "submit">
	-->
	<br>
	<br>
	<H1>Welcome To Fertile Mind e-Cart Shopping Portal !</H1> <br>
	<br>
	<br>
	<img src="C:\Krishanu\Personal\IBM Docs\IBM Certification\GitHub\os-sample-python\templates\Clothes.jpg" alt="Clothes" width="500" height="600">	
    </center>
</form>
</BODY>
</HTML>