<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>PRODUCT</title>
</head>
<body>
<table id="XXIBM_PRODUCT_PRICING" style="width:100%">
    {% if data %}
    <tr>
        <th>Item Number</th>
        <th>List Price</th>
    </tr>
    {% for row in data %}
    <tr>
        <td> {{ list_price }}</td>
        <td> {{ item_number }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>