<HTML>
<BODY bgcolor="cyan">
    <center>
	<title>Fertile Mind e-cart shop</title>
	<br>
	<br>
	<H1>Welcome To Fertile Mind e-Cart Shopping Portal !</H1> <br>
	<br>
	<td>
	{% if athwear %}	
	<h2> Please Select The Item </h2>
	<select id = "selectbox1" name="option" width="300px">
	<option>Please Select The Item</option>
	{% for row in athwear %}
		<option value="{{ row }}" SELECTED>{{ row }}</option>
	{% endfor %}
	</select>
	<h2> Please Select The Brand </h2>
	<select id = "selectbox2" name="option" width="300px">
	<option>Please Select The Brand</option>
	{% for o in athwear %}
		<option value="{{ o.optid }}" SELECTED>{{ o.optid }}</option>
	{% endfor %}
	</select>
	<br>
	<h2> Please Select The Size </h2>
	<select id = "selectbox3" name="option" width="300px">
	<option>Please Select The Size</option>
	{% for o in athwear %}
		<option value="{{ o.optid }}" SELECTED>{{ o.optid }}</option>
	{% endfor %}
	</select>
	<br>
	<h2> Please Select The Colour </h2>
	<select id = "selectbox4" name="option" width="300px">
	<option>Please Select The Colour</option>
	{% for o in athwear %}
		<option value="{{ o.optid }}" SELECTED>{{ o.optid }}</option>
	{% endfor %}
	</select>
	{% endif %}	
	</td>
	<td>
    <input class="button1" type="submit" value="Select">
	</td>    
    </center>
</BODY>
</HTML>