<HTML>
<BODY bgcolor="cyan">
    <center>
	<title>Fertile Mind e-cart shop</title>
	<br>
	<br>
	<H1>Welcome To Fertile Mind e-Cart Shopping Portal !</H1> <br>
	<br>
	<td>
	{% if athwear %}	
	(% flag=1 %}
	{% for row in athwear %}
		{% if flag == 1 %}
			<h2> Please Select The Item </h2>
		{% endif %}
		{% item=row[0]%}
		<select id = "selectbox1" name="item" width="300px">
		<option>Please Select The Item</option>	
		<option value="{{ item }}" SELECTED>{{ item }}</option>	
		</select>
		{% if flag == 1 %}
			<h2> Please Select The Brand </h2>
		{% endif %}
		{% brand=row[1]%}	
		<select id = "selectbox2" name="brand" width="300px">
		<option>Please Select The Brand</option>	
		<option value="{{ brand }}" SELECTED>{{ brand}}</option>
		</select> 
		{% flag=0 %}
	{% endfor %}	
	 {% endif %}	 	
	</td>
	<td>
    <input class="button1" type="submit" value="Select">
	</td>    
    </center>
</BODY>
</HTML>