<HTML>
<BODY bgcolor="cyan">

    <center>
	<br>
	<br>
	<H1>Welcome To Fertile Mind e-Cart Shopping Portal !</H1> <br>
	<br>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
    <p>
   <!-- <form method="POST" action="/apparels"> -->
	<a href="/apparels.html">
		<img src="{{url_for('static', filename='clothes.jpg')}}" width="411" height="231" >
        <h1>Apparels</h1>
	</a>
    <!-- </form> -->
    </p>
	<!-- <form method="POST" action="/footwears">
	<a href="Footwears.html">
		<img src="C:\PERSONAL\Container Crush\repo\os-sample-python\templates\Footwear.jpg" alt="Footwear" width="200" height="180">	
	<p>Footwears</p>
	</a>
	</form>	
	<form method="POST" action="/luggages">
	<a href="Luggages.html">
		<img src="C:\PERSONAL\Container Crush\repo\os-sample-python\templates\luggage.jpg" alt="Luggages" width="200" height="180">	
		<p>Luggages</p>
	</a>	
	</form>
	<form method="POST" action="/personal_care">
	<a href="personal_care.html">
		<img src="C:\PERSONAL\Container Crush\repo\os-sample-python\templates\personal_care.jpg" alt="Personal Care Products" width="200" height="180">	
		<p>Personal Care Products</p>
	</a>	
	</form>
	<form method="POST" action="/sewing">
	<a href="sewing-accessories.html">
		<img src="C:\PERSONAL\Container Crush\repo\os-sample-python\templates\sewing-accessories.jpg" alt="Sewing Accessoriess" width="200" height="180">	
		<p>Sewing Accessoriess</>
	</a>	
	</form> -->
    </center>
</BODY>
</HTML>